html
{
  height: 100%;
  overflow: hidden;
}

body
{
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: monospace;
}

/*****************************************************************************/

div#nameInput
{
  position: absolute;
  margin: auto;
  top: -250px;
  right: 0;
  bottom: 0;
  left: 0;

  width: 200px;
  height: 100px;

  background-color: rgba(0, 0, 0, 0.8);
  border: solid 1px #FFFFFF;
  color: #FFFFFF;
}

div#nameInput p
{
  width: 100%;
  text-align: center;
}

div#nameInput input,
div#nameInput button
{
  border: solid 1px #FFFFFF;
  background-color: #000000;
  color: #FFFFFF;
  font-family: monospace;
}

div#nameInput button
{
  cursor: pointer;
}

div#nameInput button:hover
{
  background-color: #FFFFFF;
  color: #000000;
}

/*****************************************************************************/

div#highscore
{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  padding: 0px;

  width: 500px;
  height: 70%;

  background-color: rgba(0, 0, 0, 0.9);
  border: solid 1px #FFFFFF;
  color: #FFFFFF;
}

div#highscore p
{
  margin-top: 10px;
  margin-bottom: 10px;

  width: 100%;

  font-size: 50px;
  font-weight: 800;
  text-align: center;
}

table#highscoreTable
{
  width: 100%;
}

table#highscoreTable th
{
  text-align: center;
  color: #FFFFFF;
}
